{% extends 'base.html' %}
{% load static %}
{% block content %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
    <link href="{% static 'product/pr/fontawesome/css/all.min.css' %} " rel="stylesheet" />
    <link href="{% static 'product/pr/css/templatemo-comparto.css' %}" rel="stylesheet" />
    <title>Comparto HTML CSS Template</title>
<!--

Comparto TemplateMo

https://templatemo.com/tm-544-comparto

-->
</head>

<body>
    <!-- Back to top button -->
    <a id="button"><i class="fas fa-angle-up fa-2x"></i></a>
    <div class="container-fluid">
        <div class="tm-site-header tm-mb-1">

        </div>
        <section class="tm-mb-1" id="about">
            <div class="tm-row tm-about-row">
                <div class="tm-section-1-l">
                    <img src="{{pr.img.url}}" alt="About image" class="tm-img-responsive">
                </div>
                <article class="tm-section-1-r tm-bg-color-8">
                    <h2 class="tm-mb-2 tm-title-color">{{pr.name}}</h2>
                    <p>price: {{pr.price}} rs <br>{{pr.desc}}</p>
                    <p>{{pr.stock}}</p>
{% if user.is_authenticated %}
    {% if pr.stock <= 0 %}                                      #for no stocks left
<h1 style="color:red"> sorry. no stock left </h1>

                    {% else %}
                    <a href="{% url 'addcart' pr.id %}" class="tm-btn tm-btn-1 tm-link-to-services">Add to cart</a>
    {% endif %}
{% endif %}
                </article>
            </div>
        </section>
        
</body>
</html>
{% endblock %}