{% extends 'base.html' %}
{% load static %}
{% block content %}
<! DOCTYPE html>
<html lang="">


<head>
<title>Foodjet </title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{% static 'home/hm/layout/styles/layout.css' %}" rel="stylesheet" type="text/css" media="all">
<!--  <link href="{% static 'home/hm/layout/styles/back.css' %}" rel="stylesheet" type="text/css" media="all">-->
  <style>

  </style>

</head>
<body id="top">



<!--    <div class="category">-->
<!--      {% for i in ct %}-->
<!--      <b style="color:white">-->
<!--       <a href={{i.get_url}}>{{i.name}}</a><br>-->
<!--      </b>-->
<!--      {% endfor %}<br>-->
<!--    </div>-->
<!-- End Top Background Image Wrapper -->


<div class="wrapper row3">
  <main class="hoc container clear">

{% for i in pr %}
        <li class="one_third">
          <figure><a class="imgover" href="{{i.get_urls}}"> <img src="{{i.img.url}}" alt="" style="height:250;width:600;"></a>
            <figcaption>
              <h6 class="heading">{{i.name}}</h6>
              <p>{{i.desc|truncatewords:15}}</p>
              <br>
              <p>price: {{i.price}}</p>
              <br>
              <p>stock left: {{i.stock}} </p><br>
            </figcaption>
          </figure>
        </li>
{% endfor %}

      </ul>
    </section>



    <!-- ################################################################################################ -->
    <hr class="btmspace-80">
    <!-- ################################################################################################ -->

    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>


<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="{% static 'hm/layout/scripts/jquery.min.js' %}"></script>
<script src="{% static 'hm/layout/scripts/jquery.backtotop.js' %}"></script>
<script src="{% static 'hm/layout/scripts/jquery.mobilemenu.js' %}"></script>
</body>
</html>
{% endblock %}